<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "EmergencyService",
    "name": "{{ organization:org_name }}",
    "description": "{{ organization:description }}",
    "url": "{{ config:app:url }}",
    "telephone": "{{ organization:phone }}",
    "email": "{{ organization:email }}",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{ organization:street_address }}",
        "addressLocality": "{{ organization:city }}",
        "addressRegion": "{{ organization:state }}",
        "postalCode": "{{ organization:zip_code }}",
        "addressCountry": "US"
    },
    "areaServed": "{{ organization:areas_served }}",
    "foundingDate": "{{ organization:founding_year }}",
    "nonprofitStatus": "501(c)(3)",
    "logo": "{{ config:app:url }}{{ organization:logo_url }}"{{ if social_links:facebook_url || social_links:instagram_url }},
    "sameAs": [{{ if social_links:facebook_url }}"{{ social_links:facebook_url }}"{{ /if }}{{ if social_links:facebook_url && social_links:instagram_url }}, {{ /if }}{{ if social_links:instagram_url }}"{{ social_links:instagram_url }}"{{ /if }}]{{ /if }}
}
</script>
